<div id="About" style = "color:rgb(255, 250, 255);" >_</div>
<br>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>🏃🏾‍♂️ Going on Missions</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
    <p style = "margin-left: 25px;" class= "text-normal">
      
      For the past seven months, I've had the privilege of mentoring Renato, a first-grader in Cobán, Guatemala. 
      My Spanish still sucks, and my Zoom connection is similar. Despite the barriers, I've been blessed with a growing 
      friendship with Renato. It's pretty nice to have a friend who gets my silliness and is patient with me.
      This friendship has helped me understand what Renato has been going through -- recently as we've been 
      praying together, he shared about the progressive healing of one of his relatives. 

      <br>
      <br> 

      This June I have the privilege to serve for one week in Cobán, Guatemala, where our team will be ministering to
      kids through Vacation Bible School. I'll also be able to finally hang out with Renato in person! 
      Even in preparing, there are challenges that await me, such as learning to evangelize in a social-distanced environment. 
      
      <br>
      <br>  

      Thank you for your support, and I hope you are all doing well! I'd love to hear from you should anything come up 
      during prayer. 

      <br>
      <br> 
</p>
